.uk-offcanvas-bar {

    background: #fff;
    padding: 20px 0;
    .uk-nav-default{
        padding: 20px;
        &>li>a{
            color:#000;
            &:active{
                color:$base-color-dark;
            }
            &:focus{
                color:$base-color-dark;
            }
            &:hover{
                color:$base-color-dark;
            }
        }
    }

    .uk-nav-footer{
        background-color:$base-color-dark;
        padding: 15px;
        text-transform: initial; 
        font-size: .875rem;
        color: #fff;
    }

}
@media (max-width:640px){
    .uk-navbar-item{
        &.uk-logo{
            &.uk-margin-large-right {
                margin-right: 20px!important;
            }
        }
    }
    button{
    background-color: transparent;
    border-color: transparent;
    }

}