@media(min-width: 640px) {
    .uk-slideshow-items {
        min-height: 500px !important;
    }
}

.uk-overlay-agrotax {
    padding: 15px;
    background: rgba(103, 140, 52, .5);
    color: #354A54;

    h3 {
        color: #354A54;
    }

    .uk-button-default {
        background-color: rgba(103, 140, 52, .9);
        color: #fff;
        border-color: #fff;

        &:hover {
            background-color: rgb(103, 140, 52);
        }
    }

    &_inside {
        padding: 15px;
        background-color: rgba(255, 255, 255, .8);
    }
}

.uk-dotnav>*>* {
    display: block;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: 0 0;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid rgba(159, 199, 219, .9);
    transition: .2s ease-in-out;
    transition-property: background-color, border-color;
}

.uk-dotnav>.uk-active>* {
    background-color: rgba(159, 199, 219, .9);
    border-color: transparent;
}